<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEdauIUSZA0-lFOE-eXqLh2PPXQnZi49c</string>
	<key>GCM_SENDER_ID</key>
	<string>1091959777847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kingrittik.ecoCollect</string>
	<key>PROJECT_ID</key>
	<string>eco-collect-32195</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-collect-32195.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091959777847:ios:166691821546e38d4eedb2</string>
</dict>
</plist>